@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 43% 92%;
    --foreground: 24 32% 27%;

    --card: 36 57% 92%;
    --card-foreground: 24 32% 27%;

    --popover: 36 57% 92%;
    --popover-foreground: 24 32% 27%;

    --primary: 32 38% 36%;
    --primary-foreground: 36 100% 97%;

    --secondary: 37 54% 74%;
    --secondary-foreground: 24 38% 27%;

    --muted: 36 24% 92%;
    --muted-foreground: 24 8% 44%;

    --accent: 35 54% 72%;
    --accent-foreground: 24 32% 27%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 35 27% 84%;
    --input: 35 27% 84%;
    --ring: 24 32% 27%;

    --radius: 0.5rem;

    --sidebar-background: 36 57% 92%;
    --sidebar-foreground: 24 32% 27%;
    --sidebar-primary: 32 38% 36%;
    --sidebar-primary-foreground: 36 100% 97%;
    --sidebar-accent: 35 54% 72%;
    --sidebar-accent-foreground: 24 32% 27%;
    --sidebar-border: 35 27% 84%;
    --sidebar-ring: 32 38% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}